#meals {
  @include grid-column(8, true, true);
}

#upload_form {
  @include panel;
  @include grid-column(8, true, true);

  input[type=submit] {
    @include button($padding:$button-sml);
  }
}

#meal_header {
  @include grid-row;
  div {
    @include grid-column(10, false, false, 1);
  }
}

#meal_content {
  @include grid-row;
  aside {
    @include grid-column(3, false, false, 1);
  }
  article {
    @include grid-column(7, true);
  }
}

.meal_times {
  @include pricing-table-container;
  .prep_time, .cook_time {
    @include pricing-table-bullet;
  }
  .total_time {
    @include pricing-table-title;
  }
}

.meal_flag {
  @include alert;
  text-align: center;
  text-transform: capitalize;
}

.recipe-container {
  @include section-container($section-type:accordion);
  & > section {
    @include section($section-type:accordion, $title-selector:".fn", $content-selector:".recipe-content");
  }

  @media #{$small} {
    @include section-container(false, $section-type:tabs);
    & > section {
      @include section($section-type:tabs, $title-selector:".fn", $content-selector:".recipe-content");
    }
  }

  ul, ol {
    margin-left: emCalc(20px);
  }
}
