#meals {
  @include grid-column(10, true, true);
  .options {
    width: emCalc(140px);
    padding-top: 0;
    padding-bottom: 0;
  }
  table {
    width: 100%;
  }
  form {
    margin: 0;
    padding: 0;
    &, div {
      display: inline-block;
    }
    input[type=submit] {
      @include button($padding:$button-sml);
      margin-bottom: 0;
    }
  }
}

#upload_form {
  @include panel;
  @include grid-column(10, true, true);

  input[type=submit] {
    @include button($padding:$button-sml);
  }
}

#meal_header {
  @include grid-row;
  div {
    @include grid-column(10, false, false, 1);
  }
}

#meal_content {
  @include grid-row;
  aside {
    @include grid-column(3, false, false, 1);
    .rateit {
      padding-top: 0.5em;
    }
  }
  article {
    @include grid-column(7, true);
  }
}

.meal_times {
  @include pricing-table-container;
  .prep_time, .cook_time {
    @include pricing-table-bullet;
  }
  .total_time {
    @include pricing-table-title;
  }
}

.meal_flag {
  @include alert;
  text-align: center;
  text-transform: capitalize;
}

.recipe-container {
  @include section-container($section-type:accordion);
  & > section {
    @include section($section-type:accordion, $title-selector:".fn", $content-selector:".recipe-content");
  }

  @media #{$small} {
    @include section-container(false, $section-type:tabs);
    & > section {
      @include section($section-type:tabs, $title-selector:".fn", $content-selector:".recipe-content");
    }
  }

  ul, ol {
    margin-left: emCalc(25px);
  }

  .instructions li:after {
    content: '.';
  }
}

#edit_meal_header {
  @include grid-row;
  div {
    @include grid-column(12, false);
  }
}

#edit_meal {
  @include grid-row;
  form {
    @include grid-column(12, true);

    input[type=submit] {
      @include button;
    }
    .side_fields {
      @include grid-column(3);
    }
    .recipe_content {
      @include grid-column(9);
      & > div {
        @include section-container($section-type:accordion);
        & > section {
          @include section($section-type:accordion, $title-selector:".title", $content-selector:".content");
        }

        @media #{$small} {
          @include section-container(false, $section-type:tabs);
          & > section {
            @include section($section-type:tabs, $title-selector:".title", $content-selector:".content");
          }
        }
      }

      textarea {
        height: emCalc(300px);
      }
    }
    .time_fields {
      @include grid-row;
    }
    .hour_field, .minute_field {
      @include grid-column(5, $collapse:true);
    }
    .hour_suffix, .minute_suffix {
      @include grid-column(1, $collapse:true);
    }
    .minute_field {
      margin-left: 1px;
    }

    .ingredient {
      @include grid-row;
      .amount_field { @include grid-column(1, $collapse: true); }
      .unit_field { @include grid-column(2, $collapse: true); }
      .description_field { @include grid-column(8.5, $collapse:true); }
      .delete {
        a {
          color: red;
          padding: 8px;
          display: inline-block;
        }
        @include grid-column(0.5, $collapse:true);
      }
    }

    .ingredient_template {
      display: none;
    }
  }
}
